/* ============ COMMON STYLES ============ */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
html {
  scroll-padding: 72px;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
  line-height: 1.5;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
}
input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
  outline: transparent;
  cursor: pointer;
  border: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: var(--iris);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-subtitle,
.team-section-title,
.portfolio-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.social-links-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social {
  fill: var(--cloud);
}
.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  line-height: 0;
  background-color: var(--cornflower);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover,
.btn-close:focus {
  background-color: var(--ocean);
  border: none;
}
.btn-close:hover .icon-close,
.btn-close:focus .icon-close {
  fill: var(--white);
}

/* HEADER LINE */

.header-section {
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background-color: var(--white);
  z-index: 999;
}
.header-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-span-header {
  color: var(--navy-blue);
}
.header-nav-links,
.header-address-links {
  display: none;
}
.burger-menu-btn {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.icon-burger-menu {
  fill: #2f2f37;
}

/* === BURGER-MENU-PAGE === */
.burger-menu-window {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-menu-window.is-open {
  opacity: 1;
  pointer-events: auto;
}
.burger-menu-page {
  position: relative;
  height: 100%;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.burger-nav {
  margin-bottom: auto;
}
.burger-menu-item a:hover {
  color: var(--ocean);
}
.burger-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.burger-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-address {
  margin-bottom: 48px;
}
.burger-address-item:first-child a {
  color: var(--iris);
}
.burger-address-item:not(:last-child) {
  margin-bottom: 24px;
}
.burger-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.burger-social-links {
  display: flex;
  column-gap: 40px;
}
.burger-social-links .social-link:hover {
  background-color: var(--ocean);
}

/* HEADER LINE */
/* ===== @media FOR TABLET ===== */
@media (min-width: 768px) {
  .burger-menu-btn,
  .burger-menu-window {
    display: none;
  }
  .nav-menu {
    display: flex;
    gap: 120px;
    align-items: center;
  }
  .header-nav-links {
    display: flex;
    gap: 40px;
  }
  .header-nav-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--navy-blue);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .active-link {
    position: relative;
    color: var(--ocean);
  }
  .active-link::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    display: block;
    border-radius: 2px;
    height: 4px;
    background: var(--ocean);
  }
  .header-nav-link:hover,
  .header-nav-link:focus,
  .address-link:hover,
  .address-link:focus {
    color: var(--ocean);
  }
  .header-address-links {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  .address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* HEADER LINE */
/* ===== @media FOR DESCTOP ===== */
@media (min-width: 1158px) {
  .nav-menu {
    gap: 76px;
  }
  .header-address-links {
    flex-direction: row;
    gap: 40px;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* ==========================================================================================================================================
ORDER STYLES 
========================================================================================================================================== */
.order-section {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media screen and (min-resolution: 192dpi) {
  .order-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mobile@2x.jpg);
  }
}
.order-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  max-width: 216px;
  margin: 0 auto 72px auto;
}
.order-button {
  min-width: 169px;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
  background-color: var(--ocean);
}

/*  ORDER STYLES  */
/* ===== @media FOR TABLET ===== */
@media screen and (min-width: 768px) {
  .order-section {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .order-section-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .order-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet@2x.jpg);
  }
}

/*  ORDER STYLES  */
/* ===== @media FOR DESKTOP ===== */
@media screen and (min-width: 1158px) {
  .order-section {
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desktop.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .order-section-title {
    margin-bottom: 48px;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .order-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desktop@2x.jpg);
  }
}

/* ==========================================================================================================================================
BENEFITS STYLES
========================================================================================================================================== */
.benefits-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.background-svg {
  display: none;
}
.benefits-subtitle {
  margin-bottom: 8px;
}
.benefits-text {
  font-weight: 500;
  letter-spacing: 0.02em;
}

/*  BENEFITS STYLES  */
/* ===== @media FOR TABLET ===== */
@media (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .benefits-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .benefits-subtitle {
    text-align: left;
  }
}

/*  BENEFITS STYLES  */
/* ===== @media FOR DESCTOP ===== */
@media (min-width: 1158px) {
  .benefits-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .background-svg {
    display: flex;
    width: 264px;
    height: 112px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: var(--cloud);
    border: 1px solid var(--light-slate);
    border-radius: 4px;
  }
  .benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .benefits-text {
    font-weight: 400;
  }
}

/* ==========================================================================================================================================
TEAM STYLES
========================================================================================================================================== */
.team-section {
  background-color: #f4f4fd;
}
@media (min-width: 320px) and (max-width: 767px) {
  .team-section .container {
    padding-right: 28px;
    padding-left: 28px;
  }
}
.team-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.team-list-item {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  text-align: center;
  letter-spacing: 0.02em;
}
.team-section-card-container {
  padding: 32px 0;
}
.team-section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.team-section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
  margin-bottom: 8px;
}
.team-social-links {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-section .social-link:hover,
.team-section .social-link:focus {
  background-color: var(--ocean);
}

/*  TEAM STYLES  */
/* ===== @media FOR TABLET ===== */
@media (min-width: 768px) and (max-width: 1157px) {
  .team-section .container {
    padding-right: 108px;
    padding-left: 108px;
  }
  .team-list {
    flex-wrap: wrap;
    row-gap: 64px;
  }
}
@media (min-width: 768px) {
  .team-list {
    flex-direction: row;
    column-gap: 24px;
  }
  .team-section-list-item {
    max-width: calc((100% - 24px) / 2);
  }
}
/*  TEAM STYLES  */
/* ===== @media FOR DESCTOP ===== */
@media (min-width: 1158px) {
  .team-section-list-item {
    max-width: calc((100% - 3 * 24px) / 4);
  }
}

/* ==========================================================================================================================================
PORTFOLIO STYLES
========================================================================================================================================== */
.portfolio-section-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.portfolio-card-container {
  border: 1px solid var(--cornflower);
  border-top: none;
  padding: 32px 16px;
}
.portfolio-card-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.portfolio-card-text {
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--slate);
}
@media screen and (max-width: 1157px) {
  .portfolio-section-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  .overlay-text {
    display: none;
  }
}

/*  PORTFOLIO STYLES  */
/* ===== @media FOR TABLET ===== */
@media screen and (min-width: 768px) {
  .portfolio-section-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-section-item {
    max-width: calc((100% - 24px) / 2);
  }
}

/*  PORTFOLIO STYLES  */
/* ===== @media FOR DESKTOP ===== */
@media screen and (min-width: 1158px) {
  .portfolio-section-list {
    row-gap: 40px;
  }
  .portfolio-section-item {
    max-width: calc((100% - 2 * 24px) / 3);
  }
  .portfolio-section-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    cursor: pointer;
  }
  .cont-overlay {
    position: relative;
    overflow: hidden;
  }
  .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    padding: 40px 32px;
    letter-spacing: 0.02em;
    color: var(--cloud);
  }
  .portfolio-section-item:hover .overlay-text {
    transform: translateY(0);
  }
}

/* ==========================================================================================================================================
FOOTER STYLES 
========================================================================================================================================== */
.footer-section {
  background-color: var(--navy-blue);
}
.footer-section .container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.footer-section .logo {
  margin-bottom: 16px;
}
.logo-span-footer {
  color: var(--cloud);
}
.footer-text {
  text-align: left;
  font-weight: 400;
  color: var(--cloud);
  letter-spacing: 0.02em;
}
.social-media-text {
  font-weight: 500;
  color: var(--white);
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-social-links {
  display: flex;
  gap: 16px;
}
.footer-section .social-link:hover,
.footer-section .social-link:focus {
  background-color: var(--green);
}
.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  color: var(--white);
  letter-spacing: 0.02em;
}
.subscribe-label {
  display: block;
  margin-bottom: 16px;
}
.subscribe-input {
  width: 288px;
  height: 40px;
  border: 1px solid var(--white);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  color: var(--white);
  opacity: 0.6;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.subscribe-button {
  font-family: "Roboto", sans-serif;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--white);
  margin: 0 auto;
}
.icon-subscribe {
  margin-left: 16px;
  fill: var(--white);
}
@media screen and (max-width: 767px) {
  .footer-section .container {
    text-align: center;
  }
  .social-link-footer {
    margin: 0 auto;
  }
}

/*  FOOTER STYLES  */
/* ===== @media FOR TABLET ===== */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-section .container {
    padding-left: 108px;
    padding-right: 108px;
    flex-wrap: wrap;
    column-gap: 24px;
  }
}
@media screen and (min-width: 768px) {
  .footer-section {
    padding-bottom: 150px;
  }
  .footer-section .container {
    flex-direction: row;
  }
  .footer-inform {
    max-width: 264px;
  }
  .subscribe-form {
    display: flex;
    gap: 24px;
  }
  .subscribe-input {
    width: 264px;
  }
}

/*  FOOTER STYLES  */
/* ===== @media FOR DESKTOP ===== */
@media screen and (min-width: 1158px) {
  .footer-section {
    padding-top: 100px;
    padding-bottom: 250px;
  }
  .footer-inform {
    margin-right: 120px;
  }
  .subscribe-footer {
    margin-left: 80px;
  }
}

/* ==========================================================================================================================================
Order Overlay
========================================================================================================================================== */
.modal-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  overflow: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
/* MODAL WINDOW */
.modal {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--dairy);
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 16px 16px 16px;
}
.modal-text {
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}
.modal-form-item {
  margin-bottom: 8px;
}
.modal-form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}
.container-input {
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  color: var(--navy-blue);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-textarea {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-input:focus,
.modal-textarea:focus {
  border-color: var(--iris);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--iris);
}
.checkbox-container {
  margin-bottom: 24px;
}
.checkbox-label {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.checkbox-label-span {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.check:checked + .checkbox-label .checkbox-label-span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}
.checkbox-privacy-link {
  display: inline-block;
  line-height: 1.33;
  text-decoration: underline;
  color: var(--iris);
}
/* ===== @media FOR TABLET ===== */
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
